*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.nav-bar{
    height: 60px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.nav-logo{
    height: 50px;
    width: 150px;
}
.photo{
    height: 50px;
    width: 100%;
    background-image: url("amazon.png");
    background-size: cover;
}
.boder{
    border: 2px solid transparent;
}
.boder:hover{
    border: 2px solid white;
}
#pla:hover{
     border: 2px solid orange;
}
/*box2*/
a{
    text-decoration: none;
    color:white;
    }
   #one{
    margin-left: 15px;
    color: #CCCCCC;
   }

   /*box 3*/


   .search{
    height: 40px;
    width: 620px;
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    border-radius: 4px;
    border: 2px solid white;
    
   }
#sel{
    border-top-left-radius: 4px;
    background-color: #f3f3f3;
    width: 50px;
    padding-left: 10px;
    border: none;
}

#pla{
    width: 100%;
    font-size: 15px;
    padding-left: 15px;
    border: none;
}
#icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color:#febd68;
}

/*box4*/

.lang{
    height: 45px;
    width: 46;
}
#la{
     height: 45px;
}

/*box5*/

.sign{
    height: 60px;
    width: 150px; 
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
#on{
    font-size: 14px;
    color: #CCCCCC;
   
}
#onn{
    font-size: 20px;
}
/*box5*/
.return{
    height: 50px;
    width: 80px;
      display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
#ret{
    font-size: 14px;
    color: #CCCCCC;
}
#od{
    font-size: 17px;
}
/*box 6*/

.cart i{
 font-size: 30px;    
}
.cart{
    font-size: 0.85rem;
}

/*bar*/
.bar{
   height: 39px;
   width: 100%;
   background-color: #222f3d;
   color: white;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.new_bar{
    height: 30px;
    width: 90%;
}
.new_bar a{
    margin-left: 20px;
    width: 20px;
    height: 40px;
}
.me{
    height: 30px;
}

/**hero sectioj**/
.hero_sec{
    background-image: url(hero.jpg);
    background-size: cover;
    height: 600px;
     animation: picture 3s ease-in-out infinite alternate;
    position: relative; 
    z-index: 1;
}


@keyframes picture {
    0%{
         background-image: url(hero.jpg);
         background-size: cover;
         height: 600px;
    }
     50%{
        background-image: url(toy.jpg);
         background-size: cover;
         height: 600px;
     }
    100%{
         background-image:url(fashion.jpg);
         background-size: cover;
         height: 600px;
    }
}

/**shop section**/

.shop{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    margin-top: -350px;  
    position: relative;
    z-index: 2; 
}
.box{
    height: 400px;
    border: 2px solid white;
    width: 21%;
    margin-top: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
}
.box1{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;    
    justify-content: space-between;
    
}
.box h2{
    padding-top:10px ;
    padding-left: 15px;
}
.box1 div{
   height: 100px;
    width: calc(50% - 20px);         
    margin: 10px 0;                
    background-size: cover !important;
    background-position: center !important;
}

#game {
  height: 300px;
  width: 300px;
  background-color: lightgray;
  background-size: cover;
  background-image: url('game.jpg');
  background-position: center;
}


/**fotter**/

footer{
    margin-top: 15px;
}

.fo_pa_1{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37475a;
    color: white;
}
.foot_pan2{
    height: 400px;
    width: 100%;
     background-color: #1f2a38;
     display: flex;
     justify-content: space-evenly;
}

.foot_pan2 p{
color: white;
}
.foot_pan2 div{
margin-top: 30px;
}
.list1{
     height: 291px;
    width: 140px;   
}

.list2{
     height: 291px;
    width: 140px;
}
.lisa a{
    display: block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 0.85rem;
    color:lightgrey
}

.lisa a:hover {
  text-decoration: underline white; 
}

.foot-pan3{
    height: 130px;
    width: 100%;
    background-color: #1f2a38;
    border-top: 0.2px solid #2a3f55;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ft3{
    height: 40px;
    width: 120px;
    color: white;
    border: 0.2px solid white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 0.85rem;
    margin-left: 10px; 
    margin-top: -30px;

}
